[{
"enabled": "TRUE",
"text": "<text placeholder>",
"packageName": "<packageName placeholder>",
"comment": "<comment placeholder>",
"autoConfirm": "FALSE",
"autoStart": "FALSE",
"extractAfterDownload": "FALSE",
"forcedStart": "FALSE",
"overwritePackagizerEnabled": false
}]